.button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;

  border: none;
  background-color: #fae100;
  color: #3c1e1e;
  font-size: 1.5rem;
  font-weight: 500;

  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* 모바일 (최대 600px) */
@media (max-width: 600px) {
  .button {
    font-size: 1.2rem;
    padding: 8px 20px;
  }
}

/* 태블릿 (600px ~ 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
  .button {
    font-size: 1.3rem;
    padding: 10px 25px;
  }
}

/* PC (1024px 이상) */
@media (min-width: 1025px) {
  .button {
    font-size: 1.4rem;
    padding: 12px 30px;
  }
}
