.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  padding-bottom: 12vmin;
  aspect-ratio: 16 / 9;
  padding-bottom: 12vmin;

  .inner-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: var(--container-color); // Tailwind의 bg-container 대응
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2); // shadow-2xl 대응

    @media (min-width: 768px) {
      margin-top: 8vmin;
      max-width: 38rem; // md:max-w-2xl 대응
      height: 100%;
      max-height: 62rem;
      border-radius: 1rem; // md:rounded-2xl 대응
    }
  }
}
