/* Skeleton.module.scss */
.skeleton {
  background-color: #e0e0e0; /* 기본 스켈레톤 배경색 */
  animation: pulse 1.5s ease-in-out infinite;
  border-radius: 4px; /* 원하는 경우 스켈레톤의 모서리를 둥글게 설정 가능 */
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
